* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.section {
  max-width: 59.375em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px; }
  .section:after {
    content: "";
    display: table;
    clear: both; }

h1 {
  border-bottom: 1px solid; }

address {
  float: right; }

h2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0; }
  h2:last-child {
    margin-right: 0; }

h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: normal; }
  h3 .dates {
    float: right; }

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal; }

h4, ul {
  font-style: italic; }

ul {
  margin-bottom: 25px; }

.education-detail {
  font-style: italic; }

.section-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .section-content:last-child {
    margin-right: 0; }
  .section-content p {
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 25px; }

.article-title {
  font-style: italic; }
