@import bourbon/bourbon
@import neat/neat

$max-width: em(900)

.section
  +outer-container
  padding-bottom: 40px

h1
  border-bottom: 1px solid

address
  float: right

.section-title
  +span-columns(2)
  font-weight: bold

.section-content
  +span-columns(10)

.position
  +outer-container

.position-title
  font-style: italic
  +span-columns(10)

.dates
  +span-columns(2)
  font-style: normal

.article-title
  font-style: italic

