@import bourbon/bourbon
@import base/base
@import neat/neat

$max-width: em(950)

.section
  +outer-container
  padding-bottom: 40px

h1
  border-bottom: 1px solid

address
  float: right

h2
  +span-columns(2)
  font-size: 1.2em
  margin-top: 0
  margin-bottom: 0

h3
  margin-top: 0px
  margin-bottom: 5px
  font-weight: normal

  .dates
    float: right

h4
  margin-top: 0px
  margin-bottom: 0px
  font-weight: normal

h4, ul
  font-style: italic

ul
  margin-bottom: 25px

.education-detail
  font-style: italic

.section-content
  +span-columns(10)

  p
    font-style: italic
    margin-top: 5px
    margin-bottom: 25px

.article-title
  font-style: italic

