@import bourbon/bourbon
@import base/base
@import neat/neat
@import custom_typography
@import vertical_tabs

$max-width: em(1100)

body
  +outer-container

header
  margin-top: 30px
  margin-bottom: 50px
